@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(250, 254, 254);
  margin: 0 auto;
}
.darkmode {
  background-color: black;
}
.container {
  display: flex;
  height: 100%;
  width: 80%;
  position: relative;
  gap: 5rem;
  margin: 10px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(86, 81, 81);
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  padding-top: 2rem;
}
header {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2rem 8rem;
  background-color: rgb(250, 254, 254);
  box-shadow: 0px 0px 10px 1px rgb(103, 137, 137);
}
.active {
  color: green;
}
header h3 {
  font-weight: 450;
  font-size: 1rem;
  padding-top: 10px;
}

nav .fa-bars {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
}
nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.unordered {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.fa-moon {
  font-size: 24px;
  padding-top: 8px;
}

li {
  list-style: none;
  margin: 0 1rem;
}
button,
a {
  cursor: pointer;
}
li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: rgb(86, 81, 81);
}
.link {
  color: white;
}
main {
  display: flex;

  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-details {
  display: flex;
  width: 23ch;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.home-image {
  display: flex;
  padding-top: 80px;
}
.home-image img {
  height: 360px;
  margin: 0 auto;
  width: 360px;
}

.home-details h1 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: 650;
  color: rgb(54, 161, 54);
}
.home-details h2 {
  font-size: 1.2rem;
  width: 16ch;
  font-weight: 550;
}

.home-details button {
  width: 70px;
  height: 1.8rem;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(23, 156, 23);
  border-radius: 5px;
  font-size: 0.6rem;
  border: none;
  color: aliceblue;
}
#about {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  overflow-x: hidden;
  height: 100%;
}

.about-image img {
  height: 360px;
  width: 360px;
  border-radius: 5px;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  width: 300px;
}
.about-details h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.about-details h4 {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(23, 156, 23);
}

.about-details p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  width: 40ch;
}
.about-details button {
  width: 120px;
  height: 2.7rem;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(23, 156, 23);
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: aliceblue;
}
#service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#service #text {
  font-weight: 510;
  font-size: 0.9rem;
  color: rgb(23, 156, 23);
}
#service h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 560;
}
#service main {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#service main div {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;

  height: 100%;
}

#service main div h4 {
  font-size: 1rem;
  font-weight: 600;
}
#service p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  width: 26ch;
}
#service main div .fa-solid {
  text-align: center;
  color: rgb(23, 156, 23);
  border: 3px solid rgb(23, 156, 23);
  padding: 7px;
  width: 60px;
  height: 60px;
  font-size: 2.6rem;

  border-radius: 50px;
}
#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  height: 100%;
}
.dish {
  color: black;
}
#menu main {
  display: flex;
  width: 100%;
  max-width: 900px;
  gap: 4rem;
}

#menu main div {
  display: flex;
  width: 220px;
  height: 310px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  position: relative;
  color: rgb(61, 57, 57);
  background-color: rgb(250, 254, 254);
  box-shadow: 0px 0px 13px 0px rgb(227, 225, 225);
  border-radius: 10px;
}
#menu main div h3 {
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 20px;
  font-size: 1.1rem;
}
#menu main div img {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
#menu main div p {
  padding-left: 20px;
  font-size: 1rem;
  color: grey;
}
#menu h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
#menu #special {
  font-size: 1.1rem;
  color: rgb(23, 156, 23);
  font-weight: 500;
}
#menu main div .fa-solid {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(23, 156, 23);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 6px;
  font-size: 0.8rem;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 100%;
  gap: 50px;
  overflow-x: hidden;
}
.contact-details p {
  font-size: 0.9rem;
  max-width: 500px;
}
.contact-details {
  display: flex;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact-details h1 {
  font-size: 1.6rem;

  font-weight: 600;
}
.contact-details h4 {
  color: green;
  font-size: 0.9rem;
  font-weight: 450;
}
.contact-details button {
  width: 150px;
  height: 3rem;
  padding: 0 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(23, 156, 23);
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  color: aliceblue;
}
.contact-details div {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  align-items: left;
  gap: 10px;
}
.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contact .sub-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;

  width: 200px;
}
.sub-section #name {
  color: green;
  padding: 0;
  margin-bottom: 0;
}
.sub-section h2 {
  margin: 10px 0;
  font-weight: 550;
  font-size: 1.3rem;
}
.sub-section span {
  display: flex;
  margin-top: 1.5rem;
  gap: 20px;
}
.sub-section a {
  text-decoration: none;
  color: rgb(86, 81, 81);
  font-size: 0.8rem;
}
.sub-section p {
  font-size: 0.8rem;
}
.address {
  line-height: 1.5rem;
}
footer {
  width: 100%;
  height: 100%;
}
footer .copyright {
  text-align: center;
  font-size: 1rem;

  font-weight: 600;
  margin-top: 7rem;
}
.edited {
  color: white;
}

@media screen and (max-width: 400px) {
  #service h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  #menu h2 {
    font-size: 1.6rem;
  }
  .home-image img {
    height: 200px;
    width: 0px;
  }
  .about-image img {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 900px) {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  nav {
    height: 100%;
  }
  .unordered {
    display: none;
  }

  .list {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 1px 15px 0px rgb(123, 123, 123);
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
    right: 0;
    z-index: 999;
    top: 50px;
  }
  .fa-xmark {
    font-size: 2rem;
    z-index: 1000;
  }

  header h3 {
    padding-top: 1px;
  }
  li {
    list-style: none;
    margin: 0;
  }
  .list li a {
    color: white;
  }
  nav .fa-bars {
    display: block;
  }
  .home-image img {
    height: 280px;
    width: 280px;
  }
}
